body {
    background-color: rgb(255, 255, 165);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 500px;
}

.link-button {
    text-decoration: none;
    color: rgb(187, 199, 26);
    border: 1px solid gray;
    background-color: #807979;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
h1, h2, p{
    text-align:center;
}

div.contenedor{
    display: flex;
  justify-content: center;
}

h1 {
    font-family: 'Playfair Display', serif;
text-decoration: underline;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
}