/*cambios de colores para una mejor aceptacion visual en "body" e ".image"*/
body {
    background-color: rgb(8, 77, 110);
}

.image {
    border: 5px solid rgb(22.3, 48.6, 36.4);
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

h1,
h2,
p {
    text-align: center;
}

div.contenedor {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
}